@font-face {
  font-family: "Baskerville";
  font-weight: normal;
  src: url("../fonts/librebaskerville.woff2") format("woff2"),
    url("../fonts/librebaskerville.woff") format("woff");
}

@font-face {
  font-family: "Baskerville";
  font-weight: bold;
  src: url("../fonts/librebaskervillebold.woff2") format("woff2"),
    url("../fonts/librebaskervillebold.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: normal;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff");
}
