@font-face {
  font-family: "Baskerville";
  font-weight: normal;
  src: url("../fonts/baskvl.ttf") format("ttf");
}

@font-face {
  font-family: "Baskerville";
  font-weight: bold;
  src: url("../fonts/BASKE1.ttf") format("ttf");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: normal;
  src: url("../fonts/SFProDisplay-Light.woff") format("woff");
}
